/* src/App.css */

body, html, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.box {
  flex: 1; /* 각 box가 동일한 너비로 */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 24px;
  background-color: #f0f0f0;
}
